<a href="https://colab.research.google.com/github/priyabants/Learning/blob/main/Kaggle_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)
print(type(viking_song))
print(spam_amount)

0
But I don't want ANY spam!
Spam Spam Spam Spam
<class 'str'>
4

In [ ]:
#No variable declaration before assigning
#No need to mention type of value a variable gonna hold
#can be re-assigned with different sort of value
#print function with argument
#Python comment #Comment
#The colon (:) at the end of the if line - Subsequent lines which are indented are part of that code block
#Strings can be marked either by double or single quotation marks.
#in Python 3*3 == 9, where "a"* 3= aaa
#type - built in function

In [ ]:
print(5/2)
print(5//2)

print(-5/2)
print(-5//2)

2.5
2
-2.5
-3

In [ ]:
print(min(1, 2, 3))
print(max(1, 2, 3))
print(abs(32))
print(float(10))
print(int(3.33))
# They can even be called on strings!
print(int('807') + 1)

1
3
32
10.0
3
808

In [ ]:
pi = 3.14159 # approximate
diameter = 3

# Create a variable called 'radius' equal to half the diameter
radius = 0.5 * diameter


# Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared
area = pi * (radius**2)


print(area)

7.0685775

###Function

In [ ]:
def least_difference(a, b, c):
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7), # Python allows trailing commas in argument lists. How nice is that?
)
#help(least_difference)

9 0 1

In [ ]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers
    among a, b and c.
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    min(diff1, diff2, diff3)
    
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7),
)

None None None

In [ ]:
print(1, 2, 3, sep=' < ')
print(1, 2, 3) #default sep is ' ' (single space)

1 < 2 < 3
1 2 3

In [ ]:
#optional arguments with default values
def greet(who="Colin"):
    print("Hello,", who)
    
greet()
greet(who="Kaggle")
# (In this case, we don't need to specify the name of the argument, because it's unambiguous.)
greet("world")

Hello, Colin
Hello, Kaggle
Hello, world

In [ ]:
#Functions Applied to Functions
def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1), 
    sep='\n', # '\n' is the newline character - it starts a new line
)

5
25

In [ ]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

In [ ]:
def round_to_two_places(num):
    """Return the given number rounded to two decimal places. 
    
    >>> round_to_two_places(3.14159)
    3.14
    """
    return round(num,ndigits=2)
    
round_to_two_places(3.14159)

3.14

In [ ]:
print(round(123456,ndigits=-1))
print(round(123446,ndigits=-2))
print(round(123456,ndigits=-3))
#ndigits=-1 rounds to the nearest 10, ndigits=-2 rounds to the nearest 100 and so on
#useful in :We probably don't care whether it's really 338,424, or 338,425, or 338,177. 
#All those digits of accuracy are just distracting. We can chop them off by calling round() with ndigits=-3:

123460
123400
123000

In [ ]:
x = -10
y = 5
# # Which of the two variables above has the smallest absolute value?
smallest_abs = min(abs(x), abs(y))
print(smallest_abs)

5

###Boolean

In [18]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [19]:
def can_run_for_president(age):
    """Can someone of the given age run for president in the US?"""
    # The US Constitution says you must be at least 35 years old
    return age >= 35

print("Can a 19-year-old run for president?", can_run_for_president(19))
print("Can a 45-year-old run for president?", can_run_for_president(45))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? True

In [20]:
def is_odd(n):
    return (n % 2) == 1

print("Is 100 odd?", is_odd(100))
print("Is -1 odd?", is_odd(-1))

Is 100 odd? False
Is -1 odd? True

In [21]:
True or True and False

True

###Condition

In [22]:
def inspect(x):
    if x == 0:
        print(x, "is zero")
    elif x > 0:
        print(x, "is positive")
    elif x < 0:
        print(x, "is negative")
    else:
        print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)

0 is zero
-15 is negative

In [23]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))
# Generally empty sequences (strings, lists, and other types we've yet to see like lists and tuples)
# are "falsey" and the rest are "truthy"

True
False
True
False

In [24]:
if 0:
    print(0)
elif "spam":
    print("spam")

spam

In [ ]:
def to_smash(total_candies):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between 3 friends.
    
    >>> to_smash(91)
    1
    """
    if total_candies==1:
        print("Splitting", total_candies, "candy")
    else:
        print("Splitting", total_candies, "candies")
    
    #print("Splitting", total_candies, "candy" if total_candies == 1 else "candies")

    return total_candies % 3

to_smash(91)
to_smash(1)

###List

In [3]:
#Lists in Python represent ordered sequences of values
primes = [2, 3, 5, 7, 11]
prime=[2,'a',help]
#Indexing - access individual list elements with square brackets.
primes[0] == 2
primes[-1] == 7
#slicing
primes[0:3] #1st 3 elements [include:exclude]
primes[:3] #same as above, if not written start=0 and end index is the last one
primes[3:-1] #-veindexing = from 3rd to end except last
primes[-3:] #the last 3 elements

[5, 7, 11]

In [5]:
#List are Mutable - can be changed/updated
#One way to modify a list is to assign to an index or slice expression.
primes[2] = 13
primes
primes[:3] = [19,17,29]
primes

[19, 17, 29, 7, 11]

In [13]:
#List Function
print(len(primes))
print(sorted(primes))
print(sum(primes))
print(min(primes))
print(max(primes))

5
[7, 11, 17, 19, 29]
83
7
29

In [17]:
#Object
#In python everything is object. Objects carry some things around with them. You access that stuff using Python's dot syntax.
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)
#The things an object carries around can also include functions. 
#A function attached to an object is called a method. 
#(Non-function things attached to an object, such as imag, are called attributes).
x.bit_length()
help(x.bit_length)

0
3.0
Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [26]:
#List Methods
#list.append modifies a list by adding an item to the end:
primes.append(43)
print(primes)
#list.pop removes and returns the last element of a list:
primes.pop()
print(primes)

#help(len) correct but not help(append). append name only exists within list. help(list_name.append) is correct

[19, 17, 29, 7, 43]
[19, 17, 29, 7]

In [31]:
#Searching lists
print(primes.index(17))
#primes.index(4)  #ValueError: 4 is not in list
#use the in operator to determine whether a list contains a particular value:
print(17 in primes)
prime(4 in primes)

1

False

In [33]:
#Tuples
#same as list but differe in:
  #1: The syntax for creating them uses parentheses instead of square brackets
  #2: They cannot be modified (they are immutable).
t = (1, 2, 3)
t
#t[0] = 100 error
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [ ]:
#Return the second element of the given list. If the list has no second element, return None
if len(L) > 2:
    return L[1]
return None

#reverse list of 3 elements
temp = racers[0]
racers[0] = racers[-1]
racers[-1] = temp

###Loops and List Comprehensions

In [34]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [35]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

360

In [36]:
# print all the uppercase letters in s, one at a time
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [37]:
#range() - function that returns a sequence of numbers
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

In [38]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [39]:
#List comprehensions
squares = []
for n in range(10):
    squares.append(n**2)
squares

#above can be written using list comprehension
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative


def count_negatives(nums):
    return len([num for num in nums if num < 0])

In [ ]:
def has_lucky_number(nums):
    for num in nums:
        if num % 7 == 0:
            return True
    # We've exhausted the list without finding a lucky number
    return False

def has_lucky_number(nums):
    return any([num % 7 == 0 for num in nums])

help(any) #any(iterable, /)
    #Return True if bool(x) is True for any x in the iterable.
    
    #If the iterable is empty, return False.

def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    return [i>thresh for i in L]

###Strings & Dictionaries

In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [ ]:
'Pluto\'s a planet!' #"escaping" the single quote with a backslash.
#   What you type...	  What you get	  example	                print(example)
#     \'	                  '	        'What\'s up?'	            What's up?
#     \"	                  "	        "That's \"cool\""	        That's "cool"
#     \\	                  \	        "Look, a mountain: /\\"	  Look, a mountain: /\
#     \n	                             "1\n2 3"	                1
                                                                2 3

hello = "hello\nworld"
print(hello)

#Python's triple quote syntax for strings lets us include newlines literally 
#(i.e. by just hitting 'Enter' on our keyboard, rather than using the special '\n' sequence). 
#We've already seen this in the docstrings we use to document our functions, but we can use them anywhere we want to define a string.
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

In [2]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [6]:
#Strings are sequences of characters
# Indexing
planet = 'Pluto'
planet[0]
# Yes, we can even loop over them
[char+'! ' for char in planet]

#But a major way in which they differ from lists is that they are immutable. We can't modify them.
#planet[0] = 'B'   #error
# planet.append doesn't work either

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [ ]:
#String methods
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()
# all lowercase
claim.lower()
# Searching for the first index of a substring
claim.index('plan')   #11
claim.startswith(planet)  #True
claim.endswith('dwarf planet')    #False
words = claim.split()   #split by space
words   #['Pluto', 'is', 'a', 'planet!']
datestr = '1956-01-31'
year, month, day = datestr.split('-')
'/'.join([month, day, year])      #'01/31/1956'
#Python lets us concatenate strings with the + operator.
planet + ', we miss you.'       #'Pluto, we miss you.'
#If we want to throw in any non-string objects, we have to be careful to call str() on them first
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."     #"Pluto, you'll always be the 9th planet to me."
"{}, you'll always be the {}th planet to me.".format(planet, position)    #"Pluto, you'll always be the 9th planet to me."
#Notice how we didn't even have to call str() to convert position from an int. format() takes care of that for us.

In [7]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [8]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [9]:
#Dictionaries.  - Dictionaries are a built-in Python data structure for mapping keys to values.
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['one'])

#add another key
numbers['eleven'] = 11
print(numbers)

#update value
numbers['one'] = 'Pluto'
print(numbers)

planets = ['Mercury', 'Venus', 'Earth']
planet_to_initial = {planet: planet[0] for planet in planets}
print(planet_to_initial)

#The in operator tells us whether something is a key in the dictionary
print('Saturn' in planet_to_initial)

#A for loop over a dictionary will loop over its keys
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

#We can access a collection of all the keys or all the values with dict.keys() and dict.values(), respectively.
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
print(' '.join(sorted(planet_to_initial.values())))

#The very useful dict.items() method lets us iterate over the keys and values of a dictionary simultaneously. (In Python jargon, an item refers to a key, value pair)
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

1
{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}
{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}
{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E'}
False
one = Pluto
two = 2
three = 3
eleven = 11
E M V
   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"

In [11]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return len(zip_str) == 5 and zip_str.isdigit()



def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(doc_list):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices



def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    keyword_to_indices = {}
    for keyword in keywords:
        keyword_to_indices[keyword] = word_search(doc_list, keyword)
    return keyword_to_indices